<div id='updateForm' name="updateContainer" ng-controller="UpdateController" style="width: 97%; margin-left: 3%">
    <h3 style="margin-left:18%">Update Employee</h3>
    <form  name="addNewDataContainer" >
        <label>Name: </label>
        <input type="text" name="emp_name" ng-model="employee_name" class="add-newdata-input" required/>
        <label>Email: </label>
        <input type="email" name="emp_email" ng-model="employee_email" class="add-newdata-input" required/>
        <div style="display: flex;">
            <button
                ng-click="goBack()"
                class="add-newdata-btn"
            >
                Back
            </button>
            <button 
                ng-disabled="(  ( !addNewDataContainer.emp_name.$dirty && !addNewDataContainer.emp_email.$dirty ) ||
                                (
                                    ( addNewDataContainer.emp_name.$dirty || addNewDataContainer.emp_email.$dirty ) &&
                                    ( 
                                        ( addNewDataContainer.emp_name.$dirty && addNewDataContainer.emp_name.$invalid) ||
                                        addNewDataContainer.emp_email.$dirty && addNewDataContainer.emp_email.$invalid 
                                    )
                                )
                            )"
                ng-click="updateData()"
                class="add-newdata-btn"
            >
                Update
            </button>
        </div>
    </form>
</div>